.container {
  display: grid;
  grid-template-areas:  "create-house main-house-list";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.main-house-list {
  grid-area: "main-house-list"
}

.create-house {
  grid-area: "create-house"
}

body {
  background-color: lightgray
}
